.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.info-snackbar {
  background-color: #2196f3;
  color: white;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 8px !important;
}
